In [1]:
import pandas as pd
data = pd.read_csv('Crop_recommendation.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [3]:
data.duplicated().sum()

0

In [4]:
data['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [5]:
crop_sumary = pd.pivot_table(data,index = ['label'],aggfunc = 'mean')

In [6]:
crop_sumary

,K,N,P,humidity,ph,rainfall,temperature
label,,,,,,,
apple,199.89,20.80,134.22,92.333383,5.929663,112.654779,22.630942
banana,50.05,100.23,82.01,80.358123,5.983893,104.626980,27.376798
blackgram,19.24,40.02,67.47,65.118426,7.133952,67.884151,29.973340
chickpea,79.92,40.09,67.79,16.860439,7.336957,80.058977,18.872847
coconut,30.59,21.98,16.93,94.844272,5.976562,175.686646,27.409892
coffee,29.94,101.20,28.74,58.869846,6.790308,158.066295,25.540477
cotton,19.56,117.77,46.24,79.843474,6.912675,80.398043,23.988958
grapes,200.11,23.18,132.53,81.875228,6.025937,69.611829,23.849575
jute,39.99,78.40,46.86,79.639864,6.732778,174.792798,24.958376
kidneybeans,20.05,20.75,67.54,21.605357,5.749411,105.919778,20.115085
lentil,19.41,18.77,68.36,64.804785,6.927932,45.680454,24.509052
maize,19.79,77.76,48.44,65.092249,6.245190,84.766988,22.389204
mango,29.92,20.07,27.18,50.156573,5.766373,94.704515,31.208770
mothbeans,20.23,21.44,48.01,53.160418,6.831174,51.198487,28.194920
mungbean,19.87,20.99,47.28,85.499975,6.723957,48.403601,28.525775
muskmelon,50.08,100.32,17.72,92.342802,6.358805,24.689952,28.663066
orange,10.01,19.58,16.55,92.170209,7.016957,110.474969,22.765725
papaya,50.04,49.88,59.05,92.403388,6.741442,142.627839,33.723859
pigeonpeas,20.29,20.73,67.73,48.061633,5.794175,149.457564,27.741762
pomegranate,40.21,18.87,18.75,90.125504,6.429172,107.528442,21.837842
rice,39.87,79.89,47.58,82.272822,6.425471,236.181114,23.689332
watermelon,50.22,99.42,17.00,85.160375,6.495778,50.786219,25.591767

In [7]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [8]:
X = data.drop('label',axis =1) #input variable(dropping label as we won't need it)
y = data['label'] #output

In [9]:
from sklearn.model_selection import train_test_split #splitting data
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30,shuffle = True,random_state=0) #

In [10]:
import lightgbm as lgb
model = lgb.LGBMClassifier()
model.fit(X_train,y_train)

LGBMClassifier()

In [11]:
y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred,y_test)
print(accuracy_score(y_test,y_pred))

0.9893939393939394

In [13]:
X_test[0:1]

        N   P   K  temperature   humidity        ph   rainfall
1320  105  14  50    26.214884  87.688398  6.419052  59.655908

In [14]:
result = model.predict(X_test[0:1])

In [15]:
result

array(['watermelon'], dtype=object)

In [16]:
import numpy as np
features=np.array([[80,40,40,25,85,7,59]])
result=model.predict(features)

In [17]:
df_new = data[data['label'] == result[0]]

n_value=0
p_value=0
k_value=0
count=0
for ind in df_new.index:
    n_value+=df_new["N"][ind]
    p_value+=df_new["P"][ind]
    k_value+=df_new["K"][ind]
    count+=1
n_value=n_value/count
p_value=p_value/count
k_value=k_value/count

In [19]:
n_req=-80+n_value
p_req=-40+p_value
k_req=-40+k_value

In [24]:
if (n_req<=0):
    n_req=0 
if (p_req<=0):
    p_req=0 
if (k_req<=0):
    k_req=0 
df=pd.read_csv('C:/Users/User/Desktop/kodikon/fertilizer_dataset1.csv')
df

      Fertilizer Name   N     P   K
0                Urea  46   0.0   0
1   Ammonium Sulphate  20   0.0   0
2                 CAN  26   0.0   0
3                 SSP   0  19.8   0
4                 TSP   0  46.0   0
5                 MOP   0   0.0  60
6                 SOP   0   0.0  50
7                 DAP  18  46.0   0
8        NPK-15-15-15  15  15.0  15
9        NPK-17-17-17  17  17.0  17
10       NPK-19-19-19  19  19.0  19

In [ ]:
if(n_req)